[Unit]
Description=None-Desktop Power Manager (NODEPM) initialization service

[Service]
Type=simple
ExecStart=bash -ic "nodepm init"

[Install]
WantedBy=multi-user.target
